{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}?v=2">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.tag %}
      <li>Tag: {{ task.tag }}</li>
      {% endif %}
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    {% if not task.completed %}
    <form action="{% url 'complete' task.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Complete</button>
    </form>
    {% endif %}

    <form action="{% url 'delete' task.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form>

    <div>
      <a href="{% url 'index' %}">Top</a>
      <a href="{% url 'update' task.id %}">Edit</a>
    </div>
  </body>

</html>
